
/* ADDED FEATURES
-------------------------------------------------- */
/* This line will make all box like elements to keep the given size even if margins or paddings are added */
*{
    box-sizing: border-box;
}
/*Social Icons size is set below*/
.snimages
{
  margin-top: 5px;
  width: 35px;
  height: 35px;
}

/* Social Icons are inside this footer which is above the lowest footer*/
.footersn
{
  position:fixed;
  bottom: 0px;
  margin-top: 200px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  width: 100%;
  background: #333;
  max-width: 100%;
  text-align: center;
  overflow:auto;
}

/*  header sticky position is set below*/
.masthead 
{
  height: 50px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2), 0 3px 2px 0 rgba(0,0,0,0.19);
}


.center
{
  text-align: center;
}


html,body
{
  position: relative;
  height:100%;
  overflow:scroll;
}

/*.container
{
height:100%;
min-height: 100%;
overflow:inherit;

}*/
.jumbotron
{
  overflow:hide;
  font-size: 2vw;
}
.pjumbotron
{
font-size: auto;
}
.h1jumbotron
{
   font-size: 1vw; 
}

.game
{
padding-top: 20px;
padding-bottom: 20px;
margin-bottom: 40px;
height: 100%;
}
.gameCenter
{
padding-top: 0%;
padding-bottom: 0%;
margin-bottom: 0%;
width: 24%; 
font-size: 5%
}

#mainButtonChar
{
  position: absolute;
  height: 400px;
  left: 50%;
  size: 100%;
}
#enemyButtonChar
{
  position: absolute;
  height: 400px;
  right: 50%;
  size: 100%;
}
/*.bg1 
{
  background-image: url(../images/background.gif);
  background-size: 100%;
}   */  



